<!DOCTYPE html>
<html>
<head>
    <title>Email</title>
</head>    
<body>
    {% for message in messages %}

        <p>
            sender {{ message[1] }} </p>
            
        <p>    receiver {{ message[2]}} </p>

        <p>    subject {{ message[3] }} </p>

        <p>   body {{ message[4] }} </p>

        <p>   sent_at {{ message[5] }}  </p>

        

    {% endfor %}

    <a href="{{ url_for('ships') }}">

            <button>
                Return
            </button>
    </a>
</body>

</html>