<!DOCTYPE html>
<html>

<head>
    <title>Ships</title>
</head>

<body>

    <h1>Your Ships</h1>

    {% for ship in ships %}

        <p>
            Ship: {{ ship[1] }}
            |
            Gold: {{ ship[2] }}
        </p>

        
        <form method="POST" action=" {{ url_for('transfer_gold') }}">
            
            <input type="hidden" name="from_ship" value="{{ ship[1] }}">
            
            <input name="to_ship" placeholder="Ship receiving gold">
            
            <input name="amount" placeholder="Gold amount">  
            
            <button type="submit">
                Transfer Gold
            </button>
            
        </form>

        
        
        
        {% endfor %}

        <a href="{{ url_for('messages') }}">

            <button>
                Emails
            </button>
    </a>

        <a href="{{ url_for('security_dashboard') }}">
            
            <button>
                Security Dashboard
            </button>
            
    </a>

</body>
</html>